body {

}

#home-container {
    flex: 1;
    padding-top: 20px;
    padding-bottom: 20px;
}

#product-subtitles {
    font-size: 40px;
    text-decoration: underline;
    padding-bottom: 20px;
}

/* Products Home */
.product-card {
    background-color: #F8F9FA;
    border-color: rgba(128, 128, 128, 0.247);
    border-style: double;
    border-radius: 10px;
    border-width: 4px;
    padding: 40px;
    text-align: center;
    margin-bottom: 10px;
}

.product-card img {
    border-color: rgba(106, 63, 146, 0.514);
    border-style: solid;
    border-radius: 30px;
    width: 100%;
    height: 80%;
    display: block;
    margin: auto;
}

.card-body {
    font-size: 130%;
    
}

.card-body p {
    font-size: 20px;
    margin-top: 20px;
}

/* Whatsapp Icon */
.whatsapp-link {
    background-color: #25D366;
    border-radius: 50%;
    padding: 30px;
    text-align: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.whatsapp-link svg {
    width: 50px;
    height: 50px;
    color: white;
}

/* Carousel */
.carousel {
    filter: drop-shadow(0px 0px 5px #000);
    overflow: hidden;
    width: 100%;
    padding-top: 150px;
    margin-top: 40px;
    position: relative;
}

.carousel-container {
    display: flex;
}

.carousel-container .slide{
    cursor: grab;
}

.carousel-container .slide:active{
    cursor: grabbing;
}

.carousel-container img {
    width: 100%;
}

/* Sub carousels */
.product-carousel {
    filter: drop-shadow(0px 0px 10px #000);
    width: 100%;
    padding: 20px;
    position: relative;
    overflow: hidden;
}

.product-carousel-container {
    display: flex;
}

.product-carousel-container .slide-prod{
    padding: 10px 10px;
}

.swiper-button-prev, .swiper-button-next{
    background-color: #cdb8d3ec;
    border-radius: 20%;
    padding: 60px 30px;
    margin: -10px;
}


/* New carousel */

/* .carousel-item {
    transition: transform 0.5s ease;
}
.card-body img {
    height: 200px;
    object-fit: cover;
} */